{% extends "base.html.twig" %}
 {% block stylesheets %}
        <link rel="stylesheet"  href="{{ asset('style/style.css')}} " />
  {% endblock %}
{% block title %}Créer un projet{% endblock %}

{% block body %}
<h1>Ajouter un projet</h1>
    <form action="" method="post">
     <h2>Nom du projet</h2> <br> 
     <textarea id="story" name="name" rows="5" cols="33">
</textarea><br>
    <button type="submit">Ajouter</button>
    </form>
{% endblock %}